body {
    padding-top: 10px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;


}
}

.logo {
    padding-top: 10px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.principal {
    width: 1350px;
    margin: 0 auto;
    padding: 20px;

}
.azul {
    color: midnightblue;
}

.branco {
    color:aliceblue;
}

.w {
    color: white;
}

p {
    width: 900px;
    font-size: x-large;
}

.img {
    position: relative;
}

.img:hover {
    width: 300px;
    transition: 4s;

}
.plex {
    margin-bottom: 35px;
}

.pl {
    padding-right: 40px;
}
.gpt {
    padding-bottom: 30px;
}

h1 {
    color:midnightblue;
}

.brr {
    position: relative;
    bottom: 50px;
}
.ia {
    position: relative;
    top: 15px;
}

.lateral {
    background: white;
    width:85%;
    position: relative;
    left: 7%;
}

.lateral2 {
    background: rgba(24, 24, 24, 0.459);
    background: linear-gradient(black, black, gray,  white, gray, black, black);
}

.rodape {
    background: rgba(24, 24, 24, 0.459);
    padding: 10px;
    height: 50px;
    color: white;
    text-align: center;
    background: linear-gradient(to left ,black, black, black, black,  black);

}