@media (max-width: 1500px) {
    .logo ul {
        position: relative;
        right: 3%;
    }
}

@media (max-width: 1200px) {
    .logo ul {
        position: relative;
        right: 10%;
    }
}
body {
    padding-top: 10px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    text-align: left;

}


.logo {
    padding-top: 10px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.principal {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-radius: 40px;
}
.azul {
    color:blue;
}

.branco {
    color:aliceblue;
}

.w {
    color: white;
}

p {
    width: 70%;
    font-size: xx-large;
    text-align: justify;
    text-indent: 30px;
    margin-left: 1%;
    color: black;
}

.img {
    position: relative;
}

.imgam {
    position: relative;
}

.imgam:hover {
    width: 150px;
    transition: 4s;
}


.img:hover {
    width: 300px;
    transition: 4s;

}
.plex {
    margin-bottom: 35px;
}

.pl {
    padding-right: 40px;
}
.gpt {
    padding-bottom: 30px;
}

.gamma {
    padding-left: 30px;
    padding-bottom: 10px;
}
h1 {
    font-size: 30px;
    color:blue;
    text-align: center;
}


.brr {
    position: relative;
    bottom: 100px;
}
.ia {
    position: relative;
   
    padding: 20px;
}

.lateral {
    background: white;
    width:85%;
    position: relative;
    left: 7%;
    border-radius: 50px;    
}

.lateral2 {
    background: rgba(24, 24, 24, 0.459);
    background: linear-gradient(black, black, blue, blue, blue, black, black);
    
}

.rodape {
    background: rgba(24, 24, 24, 0.459);
    padding: 10px;
    height: 50px;
    color: white;
    text-align: center;
    background: linear-gradient(to left ,black, black, black, black,  black);

}

.logo li {
    float: left;
    color: white;
    list-style: none;
}

.logo ul {
    position: relative;
    bottom: 40px;
    margin-left: 37%;
}
a{
    color:aliceblue;
    text-decoration: none;
    font-size:large;
    padding-left: 15px;
    padding-right: 15px;

}

.chpt {
    position: relative;
    bottom: px;
    padding: 20px;
    left: 50px;
}

.links {
    color: midnightblue;
    font-size: larger;
}


.bt {
    bottom: 0px;
    left: 50px;
}

.linksss {
    font-size: x-large;
    color:black;
}

a:hover {
    background: rgb(255, 255, 255) 100%;
    transition: 1s;
    color: black;
    border-radius: 4px;
}